.header-pokedex {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 80px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  color: rgb(244, 234, 44);
}


.card {
	cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.bg {
	position: relative;
  border: #C22E28;
}
.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}
.custom-shape-divider-top {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}
.custom-shape-divider-bottom .shape-fill,
.custom-shape-divider-top .shape-fill {
    fill: #FFFFFF;
}


// .img-fluid {
//   height: 50px;
//   margin-top: 10px;
//   margin-left: 10px;
// }
